.recently-viewed:empty {
  padding: 0;
  margin: 0;
}
.recently-viewed__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  gap: 1.6rem;
}
.recently-viewed__top-main .recently-viewed__description {
  margin-bottom: 0;
}
.recently-viewed__top + .content {
  margin-top: 1.6rem;
}
@media screen and (min-width: 576px) {
  .recently-viewed__top + .content {
    margin-top: 2.4rem;
  }
}
.recently-viewed__list {
  flex-direction: row;
  gap: 0;
}
.recently-viewed__navigation {
  display: flex;
  gap: 0.8rem;
  position: relative;
  z-index: 3;
  flex-shrink: 0;
}
.recently-viewed__navigation .swiper-button-next .icon,
.recently-viewed__navigation .swiper-button-prev .icon {
  width: 3.4rem;
  height: 3.4rem;
  color: rgba(var(--color-accent));
}
.recently-viewed__navigation .swiper-button-prev .icon {
  transform: rotate(-90deg);
}
.recently-viewed__navigation .swiper-button-prev:not(.swiper-button-disabled):hover .icon {
  transform: rotate(-90deg) translateY(3px);
}
.recently-viewed__navigation .swiper-button-next .icon {
  transform: rotate(-90deg);
}
.recently-viewed__navigation .swiper-button-next:not(.swiper-button-disabled):hover .icon {
  transform: rotate(-90deg) translateY(3px);
}
.recently-viewed__layout:not(.swiper-initialized) {
  overflow: hidden;
  margin-bottom: 0;
}
@media (min-width: 576px) {
  .recently-viewed__layout:not(.swiper-initialized) {
    max-width: calc(100vw - 1.6rem);
    margin-bottom: 6.8rem;
  }
}
@media (min-width: 1100px) {
  .recently-viewed__layout:not(.swiper-initialized) {
    max-width: calc(100vw - 4rem);
  }
}
@media (min-width: 1440px) {
  .recently-viewed__layout:not(.swiper-initialized) {
    max-width: 128rem;
  }
}
.recently-viewed__layout:not(.swiper-initialized) .recently-viewed__item {
  width: 100%;
  flex-shrink: 0;
}
@media (min-width: 576px) {
  .recently-viewed__layout:not(.swiper-initialized) .recently-viewed__item {
    width: calc((100% - 1.6rem) / 2);
  }
}
@media (min-width: 990px) {
  .recently-viewed__layout:not(.swiper-initialized) .recently-viewed__item {
    width: calc((100% - 3.2rem) / 3);
  }
}
@media (min-width: 1440px) {
  .recently-viewed__layout:not(.swiper-initialized) .recently-viewed__item {
    width: 30.8rem;
  }
}
@media (min-width: 576px) {
  .recently-viewed__layout:not(.swiper-initialized) .recently-viewed__item:not(:last-child) {
    margin-right: 1.6rem;
  }
}
@media screen and (max-width: 576px) {
  .recently-viewed__layout:not(.swiper-initialized)[data-mobile-column="2"]:not(.swiper-initialized) .recently-viewed__item {
    width: calc(50% - 0.4rem);
  }
}
.recently-viewed__loading {
  display: none;
  align-items: center;
  justify-content: center;
  position: relative;
  max-height: 2rem;
}
.recently-viewed__loading svg {
  display: block;
  width: 2rem;
  height: 2rem;
  max-width: 2rem;
  max-height: 2rem;
}
.recently-viewed__loading.loading {
  display: flex;
}

[dir=rtl] .recently-viewed__navigation .swiper-button-prev .icon {
  transform: rotate(-90deg);
}
[dir=rtl] .recently-viewed__navigation .swiper-button-prev:not(.swiper-button-disabled):hover .icon {
  transform: rotate(-90deg) translateY(3px);
}
[dir=rtl] .recently-viewed__navigation .swiper-button-next .icon {
  transform: rotate(-90deg);
}
[dir=rtl] .recently-viewed__navigation .swiper-button-next:not(.swiper-button-disabled):hover .icon {
  transform: rotate(-90deg) translateY(3px);
}